@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 460px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-logo img {
  display: block;
}

.navigation-icon-search:before {
  content: url("../images/icons/search-icon.svg")
}

.navigation-icon-favorites:before {
  content: url("../images/icons/heart-icon.svg");
}

.favorites-number {
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  content: "";
  background-color: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
}

.button-want {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero {
  margin-bottom: 70px;
  width: 1200px;
  height: 485px;
  background-image: url("../images/backgrounds/hero-background.jpg");
  background-color: #82B3D3;
  color: #333333;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 620px;
}

.advantages-description {
  margin: 0 auto;
  margin-bottom: 90px;
  max-width: 652px;
}

.advantages-list {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item , .advices-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.text-container {
  max-width: 230px;
  padding: 102px 85px;
}

.advantages-item-title {
  margin: 0 auto;
  margin-bottom: 62px;
  max-width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  word-break: break-word;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-description , .advices-item-description {
  margin: 0;
}

.advices-title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 505px;
}

.advices-description {
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 490px;
}

.advices-list {
  margin: 0;
  margin-bottom: 96px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advices-item-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.house-icon:before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  background-image: url("../images/icons/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.food-icon:before {
  content: "";
  width: 74px;
  height: 70px;
  display: block;
  background-image: url("../images/icons/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.souvenirs-icon:before {
  content: "";
  width: 64px;
  height: 76px;
  display: block;
  background-image: url("../images/icons/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.white-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.gray-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.blue-background {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.blue-background .advantages-item-title {
  color: #FFFFFF;
}

.image-bridge {
  order: -1;
}

.hotel-search-title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 297px;
}

.hotel-search-description {
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 592px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.subscription {
  width: 1200px;
  min-height: 415px;
}

.subscription-container {
  max-width: 684px;
  padding: 96px 258px 104px;
}

.subscription-title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscription-discription {
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-field {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.subscription-index {
  width: 1200px;
  min-height: 415px;
  background-image: url("../images/backgrounds/background-subscription.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.subscription-index .subscription-title {
  color: inherit;
}

.footer-container {
  margin: 0 auto;
  padding: 40px 70px 30px;
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.social-link {
  display: block;
  width: 24px;
  padding: 13px;
}

.social-icon-vk:before {
  content: url("../images/icons/vk-icon.svg")
}

.social-icon-telegram:before {
  content: url("../images/icons/telegram-icon.svg");
}

.social-icon-youtube:before {
  content: url("../images/icons/youtube-icon.svg");
}

.contacts {
  width: 332px;
}

.telephone-nubmer {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-academy {
  width: 115px;
  content: url("../images/logo/academy-logo.svg");
}

.filter-image-container {
  width: 1200px;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
  min-height: 412px;
  box-sizing: border-box;
  background-image: url("../images/backgrounds/background-catalog.jpg");
  background-color: #82B3D3;
  background-size: cover;
  color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.breadcrumbs-link-main:before {
  content: url("../images/icons/home-icon.svg");
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-hotels:before {
  content: url("../images/icons/arrow-icon.svg");
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-type {
  margin-right: 150px;
}

.catalog-filter-group-price {
  display: flex;
  align-items: center;
  margin-right: 0;
  width: 550px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 23px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background: none;
}

.select-control {
  height: 50px;
  line-height: 35px;
  padding: 14 20px;
}

.found-hotels-container {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  width: 1060px;
}

.found-hotels-title {
  margin: 0;
  margin-right: 200px;
  min-width: 340px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 290px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.buttons-change-view-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.button-change-view {
  display: block;
  padding: 17px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}

.button-change-view-current {
  border: 2px solid #000000;
  ;
}

.icon-tile {
  content: url("../images/icons/view-tile.svg");
}

.icon-slide {
  content: url("../images/icons/view-slide.svg");
}

.icon-list {
  content: url("../images/icons/view-list.svg");
}

.hotels-list {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
}

.hotel-item {
  width: 340px;
}

.hotels-link {
  text-decoration: none;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-type , .hotel-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-favorites {
  background-color: #82B3D3;
}

.button-favorites-current {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination {
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  width: 1060px;
}

.pagination-item {
  min-width: 60px;
  padding: 12px 25px;
  box-sizing: border-box;
  text-align: center;
  background-color: #82B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}

.pagination-disabled {
  background: none;
  color: #000000;
}

.pagination-link-disabled {
  color: #000000;
}
