@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 650px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-icon-search:before {
  content: url("../images/icons/search-icon.svg")
}

.navigation-icon-favorites:before {
  content: url("../images/icons/heart-icon.svg");
}

.button-want {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/backgrounds/hero-background.jpg");
  background-color: #0776A0;
  color: #333333;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 385px;
  text-align: center;
}

.advantages-item-title , .advices-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.white-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.gray-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.blue-background {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.blue-background .advantages-item-title {
  color: #FFFFFF;
}

.image-bridge {
  order: -1;
}

.advices-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advices-item {
  width: 400px;
  height: 385px;
  text-align: center;
}

.house-icon:before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  background-image: url("../images/icons/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.food-icon:before {
  content: "";
  width: 74px;
  height: 70px;
  display: block;
  background-image: url("../images/icons/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.souvenirs-icon:before {
  content: "";
  width: 64px;
  height: 76px;
  display: block;
  background-image: url("../images/icons/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.subscription {
  width: 1200px;
  height: 415px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscription-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-field {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.subscription-index {
  width: 1200px;
  height: 415px;
  background-image: url("../images/backgrounds/background-subscription.jpg");
  background-color: #0776A0;
  background-size: 100% auto;
  color: #FFFFFF;
}

.subscription-index .subscription-title {
  color: inherit;
}

.footer-container {
  display: flex;
  width: 1060px;
}

.footer-social {
  width: 250px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon-vk:before {
  content: url("../images/icons/vk-icon.svg")
}

.social-icon-telegram:before {
  content: url("../images/icons/telegram-icon.svg");
}

.social-icon-youtube:before {
  content: url("../images/icons/youtube-icon.svg");
}

.contacts {
  width: 330px;
}

.telephone-nubmer {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-academy {
  width: 115px;
  margin-left: auto;
  content: url("../images/logo/academy-logo.svg");
}

.filter-image-container {
  background-image: url("../images/backgrounds/background-catalog.jpg");
  background-color: #0776A0;
  background-size: cover;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link-main:before {
  content: url("../images/icons/home-icon.svg");
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-hotels:before {
  content: url("../images/icons/arrow-icon.svg");
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-type {
  margin-right: 150px;
}

.catalog-filter-group-price {
  margin-right: 0;
  width: 550px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 23px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background: none;
}

.found-hotels-container {
  margin: 0 auto;
  display: flex;
  width: 1060px;
}

.found-hotels-title {
  width: 340px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  width: 290px;
  margin-right: 85px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.button-change-view {
  width: 16px;
  margin-right: 8px;
  background-color: #FFFFFF;
}

.icon-tile {
  content: url("../images/icons/view-tile.svg");
}

.icon-slide {
  content: url("../images/icons/view-slide.svg");
}

.icon-list {
  content: url("../images/icons/view-list.svg");
}

.hotels-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
}

.hotel-item {
  width: 340px;
}

.hotels-link {
  text-decoration: none;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-type , .hotel-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-favorites {
  background-color: #82B3D3;
}

.button-favorites-current {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 1060px;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
  text-align: center;
  background-color: #82B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}

.pagination-disabled {
  background: none;
  color: #000000;
}

.pagination-link-disabled {
  color: #000000;
}
